<!--view-source:http://x3dom.org/x3dom/example/x3dom_x3dElementCSSIntegration.html -->

<div id="main">
  <md-card *ngIf="!zoomed" id="title">
    <md-card-header>
      <md-card-title>{{specimen.title}}</md-card-title>
    </md-card-header>
    <md-card-content>
      <div *ngIf="isSectionDataLoaded">
        {{specimen.location}}<br>
        {{specimen.description}}<br>
      </div>
      <div *ngIf="!isSectionDataLoaded" align="center">
        <h3>Loading data...</h3>
        <md-progress-spinner
          color="primary"
          mode="indeterminate">
        </md-progress-spinner>
      </div>
    </md-card-content>
  </md-card>


  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" align="end" opened="false" class="mat-sidenav">
      <md-tab-group *ngIf="!zoomed" dynamicHeight="true" id="tab-group">
        <md-tab label="3D Models">
          <ul id="x3d-list">
            <li *ngFor="let x3d of specimen.x3dModels">
              <md-checkbox
                class="items"
                color="primary"
                [(ngModel)]="x3d.visible">
                <i class="material-icons"
                   style="vertical-align: middle;"
                   [style.color]="x3d.color">lens</i>
                {{x3d.description}}
              </md-checkbox>
            </li>
          </ul>
        </md-tab>
        <md-tab label="Sections">
          <app-view-config
            *ngIf="!zoomed && isSectionDataLoaded && cmpKeys"
            [cmpKeys]="cmpKeys">
          </app-view-config>
        </md-tab>
      </md-tab-group>
    </md-sidenav>

    <div>
      <x3d id="x3d-container" showProgress='true' showStat='false' showLog='false'
           [class.x3d-unzoom]="!zoomed" [class.x3d-zoom]="zoomed">
        <ul id="tools">
          <li>
            <span id="zoom-button" (click)="toggleZoom()">
              <md-icon *ngIf="!zoomed" mdTooltip="Zoom">zoom_out_map</md-icon>
              <md-icon *ngIf="zoomed"  mdTooltip="Unzoom" >zoom_out</md-icon>
            </span>
          </li>
          <li>
            <!-- span id="preset-button" (click)="applyPreset(1)">
              <md-icon mdTooltip="Preset">tune</md-icon>
            </span -->
            <span md-icon-button
                  [mdMenuTriggerFor]="presetMenu">
              <md-icon mdTooltip="Preset">tune</md-icon>
            </span>
            <br>

            <md-menu #presetMenu = "mdMenu" [overlapTrigger]="false">
              <button *ngFor="let preset of specimen.presets"
                      md-menu-item
                      (click)="applyPreset(preset.id)">
                {{preset.description}}
              </button>
            </md-menu>
          </li>
          <li>
            <span mdTooltip="Show current section information" [disabled] = "!isSectionDataLoaded"
                  (click)="sectionInfoDialog()">
              <md-icon>info_outline</md-icon>
            </span>
          </li>

          <li>
            <span mdTooltip="Help" (click)="helpDialog()">
              <md-icon>help_outline</md-icon>
            </span>
          </li>

          <li *ngIf="!zoomed">
            <span (click)="sidenav.toggle()">
              <md-icon *ngIf="sidenav.opened" mdTooltip="Hide Model display configuration">last_page</md-icon>
              <md-icon *ngIf="!sidenav.opened" mdTooltip="Open Model display configuration">more_vert</md-icon>
            </span>
          </li>

        </ul>


        <div id="section-slider">
          <md-slider #sliderValue
                     vertical="true"
                     [(ngModel)]="selectedSection"
                     [disabled] = "!isSectionDataLoaded"
                     [max]="sliderAttr['max']"
                     [min]="sliderAttr['min']"
                     [step]="sliderAttr['step']"
                     [thumb-label]="true"
                     (input)="setActiveSection(sliderValue.value)"
          ></md-slider>
          {{selectedSection | number:'.1'}}mm
        </div>

        <scene pickMode="texCoord">
          <Viewpoint [position]="specimen.position" [orientation]="specimen.orientation"
                     zNear="0.24115" zFar="100.00000" description="camera"></Viewpoint>

          <Transform translation="-4 -6 -8">
            <Group *ngFor="let x3d of specimen.x3dModels">

              <Inline *ngIf = "x3d.visible" [id]='x3d.name' [attr.nameSpaceName]='x3d.name' mapDEFToID="true"
                      [attr.url]='specimen.path+x3d.name+".x3d"'></Inline>

            </Group>
            <Group *ngFor="let key of coordInfo | keys">
              <shape>
                <IndexedLineSet [attr.coordIndex]='coordInfo[key].coordIndex'>
                  <Coordinate [attr.point]='coordInfo[key].coordPoints'></Coordinate>
                  <Color [attr.color]='coordInfo[key].coordColor'></Color>
                </IndexedLineSet>
              </shape>
            </Group>
          </Transform>
        </scene>
      </x3d>
    </div>

  </md-sidenav-container>
</div>

<br>
<div *ngIf="!zoomed">
  <app-specimen-chart [specimenId]="specimenId"></app-specimen-chart>
</div>


<!--div>
  <button (click)="reload()">Reload</button>
  <button (click)="gotoAnatomy()">Back</button>
</div -->
