<md-toolbar color="primary" class="fixed-toolbar" [break]="190" breakAction="show">
  <div class="md-toolbar-tools">
    <button md-button class="md-primary" [routerLink]="['']">ToothLab</button>
    <button md-button class="md-primary" [routerLink]="['specimen-list']">Models</button>
    <button md-button class="md-primary" [routerLink]="['people']">People</button>
    <button md-button class="md-primary" [routerLink]="['publications']">Publications</button>

    <button md-button class="md-primary" [routerLink]="['material']">Material</button>
    <button md-button class="md-primary" [routerLink]="['about']">about</button>

  </div>
</md-toolbar>
<md-content>
  <router-outlet></router-outlet>
</md-content>
