<ul id="config-list">

  <md-menu #mindist = "mdMenu" [overlapTrigger]="false">
    <button *ngFor="let item of menu_mindist.menuItems"
            md-menu-item
            (click)="onSelect('mindist', item.key, item.name)">
      {{item.name}}
    </button>
  </md-menu>

  <button md-icon-button
          [class.selected]="selectedDirection && selectedDirection =='mindist'"
          [mdMenuTriggerFor]="mindist">
    <md-icon>more_vert</md-icon>
    <span>Thinnest dentin</span><span *ngIf="selectedDirection && selectedDirection =='mindist'"> : {{selectedName}}</span>
  </button>
  <br>

  <md-menu  #mesial = "mdMenu" [overlapTrigger]="false">
    <button *ngFor="let item of menu_mesial.menuItems"
            md-menu-item
            (click)="onSelect('mesial', item.key, item.name)">
      {{item.name}}
    </button>
  </md-menu>

  <button md-icon-button
          [class.selected]="selectedDirection && selectedDirection =='mesial'"
          [mdMenuTriggerFor]="mesial">
    <md-icon>more_vert</md-icon>
    <span>Mesial dentin</span><span *ngIf="selectedDirection && selectedDirection =='mesial'"> : {{selectedName}}</span>
  </button>
  <br>

  <md-menu #distal = "mdMenu" [overlapTrigger]="false">
    <button *ngFor="let item of menu_distal.menuItems"
            md-menu-item
            (click)="onSelect('distal', item.key, item.name)">
      {{item.name}}
    </button>
  </md-menu>

  <button md-icon-button
          [class.selected]="selectedDirection && selectedDirection =='distal'"
          [mdMenuTriggerFor]="distal">
    <md-icon>more_vert</md-icon>
    <span>Distal dentin</span><span *ngIf="selectedDirection && selectedDirection =='distal'"> : {{selectedName}}</span>
  </button>
  <br>

  <button md-button
          (click)="this.sectionContourService.setSectionContoursWithMultisections(''); onSelect('', null, '')">
    Reset
  </button>


  <button md-button
          (click)="viewConfigDialog()">
    Fine tune
  </button>
</ul>
