<ul id="config-list">

  <md-menu #appMenu="mdMenu">
    <button md-menu-item
            (click)="this.sectionContourService.setSectionContoursWithMultisections('mindist_ref_line')"> pre </button>
    <button md-menu-item
            (click)="this.sectionContourService.setSectionContoursWithMultisections('mindists_cmp_line.blx')"> blx </button>
    <button md-menu-item
            (click)="this.sectionContourService.setSectionContoursWithMultisections('mindists_cmp_line.ptu')"> ptu </button>
    <button md-menu-item
            (click)="this.sectionContourService.setSectionContoursWithMultisections('mindists_cmp_line.rcp')"> rcp </button>
  </md-menu>


  <button md-raised-button
          (click)="this.sectionContourService.setSectionContoursWithMultisections('')">
    Default View
  </button>
  <br>

  <button md-icon-button [mdMenuTriggerFor]="appMenu">
    <md-icon>more_vert</md-icon>
    <span>Thinnest dentin</span>
  </button>


  <li>
    <button md-raised-button
            (click)="this.sectionContourService.setSectionContoursWithMultisections('mesials_cmp_line.blx')">
      Mesial dentin
    </button>
  </li>

  <li>
    <button md-raised-button
            (click)="this.sectionContourService.setSectionContoursWithMultisections('distals_cmp_line.blx')">
      Distal dentin
    </button>
  </li>
  <li>
    <button md-raised-button
            (click)="viewConfigDialog()">
      Configure display mode
    </button>
  </li>
</ul>
