<ul id="config-list">

  <md-menu #mindist = "mdMenu" [overlapTrigger]="false">
    <button *ngFor="let item of menu_mindist.menuItems"
            md-menu-item
            (click)="this.sectionContourService.setSectionContoursWithMultisections(item.key);
            onSelecte('mindist', item.name)">
      {{item.name}}
    </button>
  </md-menu>

  <button md-icon-button
          [class.selected]="selectedDirection && selectedDirection =='mindist'"
          [mdMenuTriggerFor]="mindist">
    <md-icon>more_vert</md-icon>
    <span>Thinnest dentin</span><span *ngIf="selectedDirection && selectedDirection =='mindist'"> : {{selectedKey}}</span>
  </button>
  <br>

  <md-menu  #mesial = "mdMenu" [overlapTrigger]="false">
    <button *ngFor="let item of menu_mesial.menuItems"
            md-menu-item
            (click)="this.sectionContourService.setSectionContoursWithMultisections(item.key);
            onSelecte('mesial', item.name)">
      {{item.name}}
    </button>
  </md-menu>

  <button md-icon-button
          [class.selected]="selectedDirection && selectedDirection =='mesial'"
          [mdMenuTriggerFor]="mesial">
    <md-icon>more_vert</md-icon>
    <span>Mesial dentin</span><span *ngIf="selectedDirection && selectedDirection =='mesial'"> : {{selectedKey}}</span>
  </button>
  <br>

  <md-menu #distal = "mdMenu" [overlapTrigger]="false">
    <button *ngFor="let item of menu_distal.menuItems"
            md-menu-item
            (click)="this.sectionContourService.setSectionContoursWithMultisections(item.key);
            onSelecte('distal', item.name)">
      {{item.name}}
    </button>
  </md-menu>

  <button md-icon-button
          [class.selected]="selectedDirection && selectedDirection =='distal'"
          [mdMenuTriggerFor]="distal">
    <md-icon>more_vert</md-icon>
    <span>Distal dentin</span><span *ngIf="selectedDirection && selectedDirection =='distal'"> : {{selectedKey}}</span>
  </button>
  <br>

  <button md-button
          (click)="this.sectionContourService.setSectionContoursWithMultisections(''); onSelecte('', '')">
    Reset
  </button>


  <button md-button
          (click)="viewConfigDialog()">
    Fine tune
  </button>
</ul>
